* {
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 8% auto 3%;
  font-size: 3rem;
}

#box {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

input {
  margin-top: 2%;
}

input[type="submit"] {
 margin-left: 5px;
}

