* {
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 8% auto 3%;
  font-size: 3rem;
}

form {
  width: 35vw;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

#phone-input-label {
  display: block;
  margin: 10px 0px;
}

#validator {
  text-align: center;
  margin-top: 2%;
}